@import "tailwindcss";

:root {
  --background: #060606;
  --foreground: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-play);
  --font-mono: var(--font-play);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-play), Arial, Helvetica, sans-serif;
}
